/* Write your code here. */
.main-container {
  min-height: 100vh;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 30px;
}

.thumbnail-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.gallery-image {
  height: 400px;
  width: 900px;
}

